<!DOCTYPE html>
<html lang="en">
    
<head>
    <title>BiciURJC</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Links to make Bootstrap work -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="header_container">
        <div class="jumbotron" >
            <div class="col-md-1">
                <img src="Logo_URJC.png" class="img-responsive" width="100" height="100" alt="URJC_Logo"> 
            </div>
            <div class="col-md-1">
                <h1><b>BiciURJC</b></h1>    
            </div>  
        </div>
    </div>

    <div class="menu">
        <div class="btn-group col-md-12">
            <a class="btn btn-default btn-md" href="welcome_page" role="button"><span class="glyphicon glyphicon-home"></span> Inicio</a>
            <a class="btn btn-default btn-md" href="user" role="button"><span class="glyphicon glyphicon-user"></span> Usuarios</a>
            <a class="btn btn-default btn-md" href="hub" role="button"><span class="glyphicon glyphicon-inbox"></span> Estaciones</a>
            <a class="btn btn-default btn-md" href="bicycle" role="button"><span class="glyphicon glyphicon-road"></span> Bicicletas</a>
            </div>
    </div>
</body>
</html>
